#nav {
    background-color: #B0413E;
}
#nav a{
    color: white;
    text-decoration: none;
}
#slider{
    background-image: url("../slider.jpg");
    background-repeat: no-repeat;

    background-position: center;
}
#aboutme {
    background-color: black;
    color: #FFFFFF;
}
#passions {
    background-color: coral;
}
#logiciel{
    background-color: blueviolet;
}
#portfolio {
    background-color: #999999;
}
#footer {
    background-color: #B0413E;
}
#footer a{
    color: white;
    text-decoration: none;
}
